<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Curriculo Daniel Correa da Silva</title>
</head>

<body>
    <div class="container">
        <div class="row linha-horizontal">
            <div class="left">
                <h1>Daniel Correa da Silva</h1>
            </div>
            <div class="right">
                <h4>R. André Pinto Rebouças, Nº310</h4>
                <h4>Bairro Industrial - Novo Hamburgo</h4>
                <h4>(51) 99304-0175 - daniel-correa95@hotmail.com</h4>
                <h4>https://github.com/danielcorrea95</h4>
            </div>
        </div>
        <div class="left linha-horizontal">
            <h2>Objetivo</h2>
            <h4>Trabalhar como Fullstack em JS.</h4>
        </div>
        <div class="left linha-horizontal">
            <h2>Experiência Profissional</h2>
            <h4>Taugor Corporation - São Leopoldo</h4>
            <ul>
                <li>Tester - Estágiario</li>
                <ul>
                    <li>Realizar testes em aplicações desenvolvidas e reportar aos desenvolvedores.</li>
                </ul>
                <li>10/2011 - 04/2012</li>
            </ul>
            <h4>Vitta Bella Suplementos – Novo Hamburgo</h4>
            <ul>
                <li>Web Designer</li>
                <ul>
                    <li>Desenvolver imagens para digulgação de suplementos e gerenciar a manutenção do site.</li>
                </ul>
                <li>04/2012 - 10/2012</li>
            </ul>
            <h4>Velfarre entretenimento e bar – Novo Hamburgo</h4>
            <ul>
                <li>Informática em geral</li>
                <ul>
                    <li>Desenvolver imagens para digulgação de eventos.</li>
                    <li>Manutenção de hardware</li>
                    <li>Manutenção da Rede de computadores.</li>
                </ul>
                <li>10/2012 - 04/2014</li>
            </ul>
            <h4>TE Transmissões - Novo Hamburgo</h4>
            <ul>
                <li>Desenvolvedor Android</li>
                <ul>
                    <li>Desenvolver aplicações para dispositivos Android.</li>
                </ul>
                <li>05/2014 - 07/2016</li>
            </ul>
            <h4>RS Esportes - Novo Hamburgo</h4>
            <ul>
                <li>Desenvolvedor Web</li>
                <ul>
                    <li>Desenvolver sites e fazer manutenção do site existente.</li>
                </ul>
                <li>08/2016 - 05/2019</li>
            </ul>

            <h4>Prontomed - Novo Hamburgo</h4>
            <ul>
                <li>Estágio Suporte TI</li>
                <ul>
                    <li>Atuar no suporte de TI da empresa.</li>
                </ul>
                <li>05/2019 - Atual</li>
            </ul>
        </div>

        <div class="left linha-horizontal">
            <h2>Cursos</h2>
            <h4>Java - Informatize</h4>
            <h4>JavaScript - Hcode (Udemy)</h4>
            <h4>JavaScript - Hcode (Udemy)</h4>
            <h4>React - Cod3r (Udemy)</h4>
            <h4>React Native - Cod3r (Udemy)</h4>
        </div>

        <div class="left linha-horizontal">
            <h2>Formação</h2>
            <h4>Técnico em Informática</h4>
            <ul>
                <li>Escola Olimpio - Novo Hamburgo</li>
                <li>12/2011</li>
            </ul>
            <h4>Analise e Desenvolvimento de Sistemas</h4>
            <ul>
                <li>Ftec - Novo Hamburgo</li>
                <li>Cursando</li>
            </ul>
        </div>
    </div>
</body>

</html>